.pages-top{
  margin-top: 82px;
}
.pages-banner{
  max-height: 350px;
  position: relative;
  // background: linear-gradient(120deg, #FCF1D4, #BDA87A, #663224);
  img{
    display: block;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    filter: brightness(60%);
  }
  .pages-banner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
  }
}
.table-img{
  max-width: 80px;
  max-height: 60px;
}
.decorationLine{
  text-decoration: line-through;
}
.hr-style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}